*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

a{
    text-decoration: none;
}

h1,h5{
    padding-left: 20px;
}

.container-all{
    height: 200vh;
    width: 230vh;
    display: flex;
    
}

.container-left{
    height: 100%;
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
    background-color: rgb(0, 0, 0);
    flex-direction: column;
    gap: 20px;
}

.container-left img{
    width: 80%;
    
}

.selections, a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 5px;
    color: grey;
}


#last{
    margin-bottom: 1100px;
}
#crea{
    font-weight: normal;
    display: inline-block;
    padding-left: 10px;
    
    font-size: 20px;
}

.fa-square-plus{
    color: white;
    font-size: 30px;
}

.container-left h4{
    padding-top: 20px;
    font-weight: bolder;
    font-size: 20px;
    color: white;
}
.selections img{
    
    width: 20px;
    height: 20px;
}
span{
    color: white;
    font-size: 13px;
}

.top{
    width: auto;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #181821;
    
}

.upgrade{
    padding: 10px 30px;
    background-color: #181821;
    border: 1px solid white;
    border-radius: 20px;
    margin-right: 2vh;
    color: white;
    font-size: 15px;
}

.upgrade:hover{
    
    height: 50%;
}
main{
    width: 90%;
    height: 100%;
    display: flex;
    
    flex-direction: column;
    background-color: #23272f;
}

.buttons{
    width: 100%;
    height: 2%;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
    
}

.choose{
    font-weight: bolder;
    color: #6b6d76;
    font-size: 20px;
}

.choose:hover{
    color: white;
    background: 
    linear-gradient(rgb(64, 255, 0) 0 0) bottom/ 50% 2px no-repeat, 
    rgba(255, 255, 255,0);
}

h1{
    height: 5vh;
    color: white;
    font-weight: bolder;
}

.recent{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding-bottom: 20px;
}

.card{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card.stranger{
    padding-top: 20px;
} 
.card img{
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
}


.card img:hover{
    filter: brightness(50%);
    
}

/* .play{
    display: none;
    
} */

/* .card:hover{
    
    background-image: url(img/img/play-button-svgrepo-com.svg);
} */
.card h3{
    color: white;
    font-size: 15px;
}

.card h4{
    color: #6b6d76;
    font-size: 10px;
}
.creati{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}

h5{
    color: #6b6d76;
}

.artisti{
    text-align: center;
    color: white;
}

.popolari{
    padding-left: 20px;
    padding-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.popolari img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    padding-bottom: 10px;
}

.player{
    width: 100%;
    height: 10vh;
    background-color: #313131;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaces{
    height: 80%;
    width: 15%;
    background-color: red;
    display: flex;
    justify-content: flex-start;
    
}